
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Profile
.panel-default {
    padding: 15px;
}
.profile-box .well {
    height: 320px;
    padding: 15px;
}
.avatar {
    width: 200px;
    height: 200px;
}
