
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Profile
.profile-box .well {
    .well{
        height: 320px;
        padding: 15px;
    }
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

// Home
.panel-default {
    padding: 15px;
}
.room-list {
    .well{
        height: 300px;
        overflow-y: scroll;
        padding: 15px;
    }
}

.sidebar {
    padding: 0px;
    li {
        ul {
            display: none;
        }
    }
}
#wPaint {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #7a7a7a;
    margin: 20px auto;
}
.ajax-error {
    display: none;
}
.ready-block {
    display: inline-block;
}