// chat
#chatbox {
    position: fixed;
    z-index: 99999;
    width: 400px;
    right: 20px;
    bottom: 0;    
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
        &.left {
            .chat-body {
                margin-left: 60px;
            }
            .chat-img {
                float: left !important;
            }
            .chat-time {
                float: right !important;
            }
            .chat-name {
                float: none !important;
            }
            .chat-content {
                float: none !important;
            }
        }
        &.right {
            .chat-body {
                margin-right: 60px;
            }
        }
        .chat-body {
            p {
                margin: 0;
                color: #777777;
            }
        }
    }
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.chat-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
